::selection {
    background-color: #14b8a6;
    color: #fff;
}

.wrapper {
    background: #ffffff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}